@import 'tailwindcss';

:root {
  --background: #f7f6f2;
  --foreground: #1f2937;

  /* Pretendard */
  /* CSS 기준 기본 폰트는 Pretendard로 지정 */
  --pretendard:
    'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
}

/* 다크 모드 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* 전역 body 스타일 */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--pretendard);
}
